.map-container {
  height: 600px; /* Increase the height */
  width: 90%; /* Increase the width */
  margin: 0 auto; /* Center the map horizontally */
}

title {

    font-size: 1.5em; /* Increase the font size */
    margin-bottom: 10px; /* Increase the margin */
    margin: auto;
}